<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}Savanna{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

    <!-- Username/Login/Logout header -->

    {% block profile-header-block %}
    <div class="">
        <div class="row">
            <div class="three columns u-pull-right">
                {% if user.is_authenticated %}
                    <span>Hello, {{ user.username }}</span>
                    <a href="{% url 'logout' next=request.path %}">Logout</a>
                    <a href="{% url 'password_change' %}">Change password</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container">
        <div class="row">
        <div class="one-half column" style="margin-top: 10%"></div>
        </div>
    </div>

    <!-- Content Main Block -->

    {% block content-block %}{% endblock %}

    <!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{% static 'js/jquery-3.7.0.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>