{% extends 'stuff/base.html' %}

{% load static %}

{% block content-block %}

    <!-- Students list -->
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Студенты</h4>
                <div>
                {% for student in students %}
                <div>
                    <div class="">
                        <div class="btn-modal-open" person="student" person_id="{{ student.id }}">
                            {{ student.first_name }}
                            {{ student.last_name }}
                            {{ student.contact }}
                            {{ student.birthday }}
                        </div>
                        <a href="/student/{{ student.id }}">Details</a>
                        <button type="submit" class="btn-get-one" p_id="{{ student.id }}" person="student">Display a person</button>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Teachers list -->
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Учителя</h4>
                <div>
                {% for teacher in teachers %}
                <div>
                    <div class="">
                        <div class="btn-modal-open" person="teacher" person_id="{{ teacher.id }}">
                            {{ teacher.first_name }}
                            {{ teacher.last_name }}
                            {{ teacher.contact }}
                            {{ teacher.birthday }}
                        </div>
                        <a href="/teacher/{{ teacher.id }}">Details</a>
                        <button type="submit" class="btn-get-one" p_id="{{ teacher.id }}" person="teacher">Display a person</button>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn-get-list" person="student">Display a list of students</button>
    <button type="submit" class="btn-get-list" person="teacher">Display a list of teachers</button>
    <button class="btn-get-one">get one</button>

    <!-- Modal window section -->
    <div class="container modalBack">
        <div class="row modalActive">
            <div class="modalClose">
                <img src="{% static 'images/icon-cross.png' %}" />
            </div>
            <div class="one-half column modalWindow"></div>
        </div>
    </div>

{% endblock %}