{% extends 'stuff/base.html' %}

{% load static %}

{% block content-block %}

    <!-- Students list -->
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Студенты</h4>
                <div>
                {% for student in students %}
                    <div class="person">
                        <div class="outer">
                            {{ student.first_name }}
                            {{ student.last_name }}
                            {{ student.contact }}
                            {{ student.birthday }}
                            <a href="/student/{{ student.id }}">Details</a>
                        </div>
                        <div class="inner hidden">
                            {% for subject in subjects %}
                            {% if subject.student.id == student.id  %}
                                {{ subject.teacher }}
                                {{ subject.subject }}
                                {{ subject.paid_classes }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Teachers list -->
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Учителя</h4>
                <div>
                {% for teacher in teachers %}
                    <div class="person">
                        <div class=" row outer">
                            <div>
                                {{ teacher.first_name }}
                                {{ teacher.last_name }}
                                {{ teacher.contact }}
                                {{ teacher.birthday }}
                            </div>
                            <a href="/teacher/{{ teacher.id }}">Details</a>
                        </div>
                        <div class="inner hidden">
                            {% for subject in subjects %}
                            {% if subject.teacher.id == teacher.id  %}
                                {{ subject.student }}
                                {{ subject.subject }}
                                {{ subject.paid_classes }}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}