<table class="table">
    <thead>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Предмет</th>
        <th><span class="glyphicon glyphicon-option-horizontal"></span></th>
    </thead>
    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.student.first_name }}</td>
                <td>{{ subject.student.last_name }}</td>
                <td>{{ subject.subject }}</td>
                <td>
                    <a href="{% url 'student_details' student_id=subject.student.id %}">
                        <span class="glyphicon glyphicon-arrow-right"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>