{% extends 'stuff/base.html' %}

{% load static %}

{% block content-block %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>{{ teacher.first_name }} {{ teacher.last_name }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            {{ calendar }}
        </div>

        <div class="col-md-7">
            <h3>Расписание на день <small>Выберите день</small></h3>
            <div id="classes_per_day"></div>
        </div>
    </div>
</div>

{% endblock %}
