<div class="container">
    <div class="row">
        <div class="one-half column">
            <h4>Студенты</h4>
            <div>
            {% for student in students %}
                <div class="person">
                    <div>
                        {{ student.first_name }}
                        {{ student.last_name }}
                        {{ student.contact }}
                        {{ student.birthday }}
                    </div>
                    <div>
                        {% for subject in subjects %}
                        {% if subject.student.id == student.id  %}
                            {{ subject.teacher }}
                            {{ subject.subject }}
                            {{ subject.paid_classes }}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>