.hidden {
    display: none;
}

.inactive {
    scroll-behavior: unset;
}

/* Modal window section */

.modalBack {
    display: none;
    z-index: 1;
    position: fixed;
    top: 5px;
    left: 50%;
    bottom: 5px;
    right: 0px;
    background-color: lightgrey;
    border-radius: 10px;
}

.modalActive {
    position: relative;
    display: block;
    margin: 10px;
}

.modalClose {
    position: fixed;
    top: 15px;
    right: 15px;
}

.modalWindow {
    margin-top: 10%;
}

/* End of modal window */